<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">       
    <title>Accueil</title>
</head>
<header>
    <nav class="nav">
        <ul class="nav">
            <li class="list_header">
                <button id="active" class="a_header" type="menu"><a class="a_header" href="./mesdefis.html">Mes défis</a></button>
            </li>
        </ul>
    </nav>
</header>

<body>

    <div class="nom_accueil">
      <h1>ACCUEIL</h1>
    </div>
 
    <div class="posts">
        <h2>Derniers défis récents</h2>
    </div>
    

    {{#articles}}

    <article>
        <h3>{{title}}</h3>
        <p>Auteur : {{mail}}</p>
        <p>{{content}}</p>
        <p>{{publication}}</p>
    </article>
    
    {{/articles}}
    
      
</body>

</html>